$bg-color: #424242;
$hl-color: #2196F3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

*,
:before,
:after {
  box-sizing: border-box;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

.inputs-container {

    >input[type="text"],input[type="password"],input[type="email"]{

  display:block;
  background: none;
  color: $muted-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  

}

    >input[type="password"]{
        letter-spacing: 1px;
    }
    >input[type='checkbox']{
        display:inline;
    }

    >input[type="submit"]{
        height: 2.4rem;
        width: 6.5rem;
        background-color: #337AB7;
        border: 1px solid #337AB6;
        border-radius: 7px;
        color: #efefef;
        font-family: sans-serif;
        font-size: 14px;
        letter-spacing: 1px;

        &:hover{
            background-color:rgb(32, 79, 117);
            border:rgb(32, 79, 117);
        }
    }
}