$main-color: #efefef;

@mixin font-nice{
    font-size:2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;

}

.calendar-div{
    @include font-nice;

    >div{
        font-size:1.5rem;
    }
    >span{
        font-size:1.6rem;
    }
}



