
html{
    font-size:16px;
}

body{
    transition: 300ms ease-out;
    margin:0;
    padding:0;
}

div{
    font-size: 1rem;
}

.content-div{
    padding:0.8rem;

}

.container-alimente{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 30%;
    grid-gap: 0.6rem;
}

.container-total{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0.5rem;
}

.sortare-indice{
    display:grid;
}

.sortare-indice span{
    display: block;
}

.alimente{
    display:grid;
    overflow: scroll;
}

.alimente span{
    display:block;

}

.alimente span:nth-child(even){
    background-color: lightblue;
}

.streched{

    grid-column-start: 1;
    grid-column-end:3;
    
}
