.navbar {
  background-color: #496ba0;
  color: #ffffff; }

body {
  font-family: 'Raleway', sans-serif; }

.posts-container {
  display: grid;
  justify-items: center;
  grid-gap: 2em; }
  .posts-container > div {
    box-sizing: border-box;
    background-color: #efefef;
    width: 40%;
    max-width: 200px; }

*,
:before,
:after {
  box-sizing: border-box; }

textarea {
  resize: none; }

.inputs-container > input[type="text"], .inputs-container input[type="password"], .inputs-container input[type="email"] {
  display: block;
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6; }
  .inputs-container > input[type="text"]:focus, .inputs-container input[type="password"]:focus, .inputs-container input[type="email"]:focus {
    outline: none; }

.inputs-container > input[type="password"] {
  letter-spacing: 1px; }

.inputs-container > input[type='checkbox'] {
  display: inline; }

.inputs-container > input[type="submit"] {
  height: 2.4rem;
  width: 6.5rem;
  background-color: #337AB7;
  border: 1px solid #337AB6;
  border-radius: 7px;
  color: #efefef;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 1px; }
  .inputs-container > input[type="submit"]:hover {
    background-color: #204f75;
    border: #204f75; }
